<h1 style="text-align: center"> Come Enjoy The Wine! </h1>
<body>
  <div class="container">
    <div class="row-fluid">\
      <section id="home">
        <div class="card">
          <div>
            <div style="float: left; width: 35%">
              <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcS32hcBwKZMonLanMpvQwkC0HdCqXjpqrtJiRKauRC5pQyR1dVa0g">
            </div>
            <div style="float: right; width: 65%">
              <h2> Welcome to wines of the world! This class is focused on us learning about wine history, learning what
                helps flavor these delicious wines, where in the world we can find our favorite wines, and an opportunity
                to try and discover new wines.
              </h2>
            </div>
            <div style="float: none; clear:both;"> </div>
            <hr>
            <div style="float: right; width: 50%">
              <img style="width: 100%;" src="http://i2.cdn.turner.com/cnn/dam/assets/121001025907-row-of-wine-bottles-story-top.jpg">
            </div>
            <div style="float: left; width: 50%">
              <h2> This class is focused on learning a little more each week and as time progresses. Every week we will
                be trying 5 or 6 different wines from both the old world and the New World.
              </h2>
            </div>
            <div style="float: none; clear:both;"> </div>
            <hr>
          </div>
        </div>
      </section>
      </div>
    </div>
</body>