<h1 style="text-align: center"> Come Enjoy The Wine! </h1>
<h2>hey <%= current_user%></h2>
<body>
  <div class="container">
    <div class="row-fluid">
      <section id="home">
        <div class="card">
          <div>
            <div style="float: left; width: 35%">
              <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcS32hcBwKZMonLanMpvQwkC0HdCqXjpqrtJiRKauRC5pQyR1dVa0g">
            </div>
            <div style="float: right; width: 65%">
              <h2> Welcome to wines of the world! This class is focused on us learning about wine history, learning what
                helps flavor these delicious wines, where in the world we can find our favorite wines, and an opportunity
                to try and discover new wines.
              </h2>
            </div>
            <div style="float: none; clear:both;"> </div>
            <hr>
            <div style="float: right; width: 50%">
              <img style="width: 100%;" src="http://i2.cdn.turner.com/cnn/dam/assets/121001025907-row-of-wine-bottles-story-top.jpg">
            </div>
            <div style="float: left; width: 50%">
              <h2> This class is focused on learning a little more each week and as time progresses. Every week we will
                be trying 5 or 6 different wines from both the old world and the New World.
              </h2>
            </div>
            <div style="float: none; clear:both;"> </div>
            <hr>
          </div>
        </div>
      </section>
      <br>
      <section id="about">
        <div class="card">
          <div style="float: left; width: 35%">
            <img style="width: 100%" src="http://www.gannett-cdn.com/-mm-/43e9732f1e2c7d9d9f0a4359453c4b17361b6f62/c=88-0-2743-3540&r=537&c=0-0-534-712/local/-/media/Rochester/2014/02/24/rocflavorslorrainehemsb080912.jpg">
          </div>
          <div style="float: right; width: 65%">
            <h1>Your Professor: Lorraine Hems </h1>
            <h2>Lorraine Hems, is a world renown <a style="font-size: 3rem; color: deepskyblue" href="http://www.rit.edu/news/story.php?id=49160">wine expert</a>
              who has had a number of different stories, experiences and tastes to share with you as you begin your
              adventure into the complex world of wines.
            </h2>
          </div>
          <div style="float: none; clear:both;"> </div>
          <hr>
        </div>
      </section>
      <br>
      <section id="contact">
        <div class="card">
          <div style="float: left; width: 35%">
            <img style="width: 100%" src="http://peachlandradio.com/wp-content/uploads/2014/01/contact.jpg">
          </div>
          <div style="float: right; width: 65%">
            <h1>Lorraine Hems </h1>
            <ul>
              <li><h2>Phone Number: (585) 475-6487</h2></li>
              <li><h2>Email: lehism@rit.edu</h2></li>
              <li><h2>Office Location: 4260 Eastman</h2></li>
            </ul>
          </div>
          <div style="float: none; clear:both;"> </div>
          <hr>
        </div>
      </section>
      </div>
    </div>
</body>