.top{
  background-color: mediumpurple;
  font-family: Lucida Sans Unicod;
  padding-bottom: 1rem;
}
.navbar-brand {
  color: black;
}

.navbar-brand :hover {
  background-color: yellow;
  color: red;
}

.navbar-nav{
  color: black;
}