<!-- Site footer -->
<div class="bottom">
  <div class="container">
    <div class="col-md-4">
      <h3><a href="https://siscalendar.rit.edu/sisCalendar">Your Schedule</a></h3>
      <p>Click the link above for when and where your class is</p>
      <p>You can also find your finals schedule here as well</p>
    </div>
    <div class="col-md-4">
      <h3><a href="http://www.rit.edu/cast/htm/faculty/?last-name=h">Lorraine Hems</a></h3>
      <p>To Contact the professor</p>
    </div>
    <div class="col-md-4">
      <h3><a href="https://www.rit.edu/cast/htm/undergraduate/ihsm/"> More Classes you can take</a></h3>
      <p>Click on Semester Curriculum</p>
      <p>Scroll down through these classes</p>
    </div>
  </div>
</div>